<span ng-repeat="p in concert.pieces | orderBy:'rank' | limitTo:1">{{ p.title }} <em>({{ p.composer_lastname }})</em></span>
<a ui-sref="index.concerts.details({id: concert.id})" title="Plus d'infos sur ce concert"><small>(plus d'infos)</small></a><br />

{{ concert.date | date:"EEEE dd MMMM yyyy '&ndash;' HH:mm" }} • {{ concert.place }} {{ concert.city && '(' + concert.city + ')' }}<br />

<span class="glyphicon glyphicon-tag"></span>
<span ng-if="concert.fnac != ''">
    <a href="{{ concert.fnac }}" title="Aller sur le site de la FNAC" target="_blank">Réservations sur fnacspectacles.com</a> •
</span>
<span ng-if="concert.eventbrite != ''">
    <a href="{{ concert.eventbrite }}" title="Aller sur le site Eventbrite" target="_blank">Réservations sur Eventbrite</a> •
</span>
<span>
    <a ui-sref="index.reservations.make({concert_id: concert.id})" title="Résever des places pour ce concert">Réservations sur ce site</a>
</span>
