<div class="center">
    <h2>Réservations</h2>
</div>

<div ng-if="resaHomeCtl.bookable_concerts.length > 0">
    <p class="lead">
        Vous pouvez réserver des places pour {{ resaHomeCtl.bookable_concerts.length > 1 && 'les concerts suivants' || 'le concert suivant' }}.
    </p>

    <ul>
        <li ng-repeat="concert in resaHomeCtl.bookable_concerts | orderBy:'date'">
            <chorale:concert:resa concert="concert"></chorale:concert:resa>
        </li>
    </ul>
</div>
<div ng-if="resaHomeCtl.bookable_concerts.length == 0">
    <em>Les réservations ne sont actuellement ouvertes pour aucun concert.</em>
</div>
