<div class="center">
    <h3>{{ concert.date | date:'EEEE dd MMMM yyyy à HH:mm' }}</h3>

    <h2 ng-repeat="p in concert.pieces | orderBy:'rank'">
        <small>{{ p.composer_firstname }} {{ p.composer_lastname }}</small><br />
        {{ p.title }}
    </h2>

    <br />

    <div class="row">
        <p ng-if="concert.soloists.length > 0">
            ***
        </p>
        <p>
            <span ng-repeat="s in concert.soloists | orderBy:'rank'">
                <strong>{{ s.voice }}</strong> &ndash; {{ s.firstname }} {{ s.lastname }}<br />
            </span>
        </p>
        <p ng-if="concert.musicians.length > 0">
            ***
        </p>
        <p>
            <span ng-repeat="m in concert.musicians | orderBy:'rank'">
                <strong>{{ m.instrument }}</strong> &ndash; {{ m.firstname }} {{ m.lastname }}<br />
            </span>
        </p>
        <p>
            ***
        </p>
    </div>

    <p ng-if="concert.orchestra">
        <strong>Orchestre</strong> &ndash; {{ concert.orchestra }}
    </p>

    <p ng-if="concert.director_lastname != '' || concert.director_firstname != ''">
        <strong>Direction</strong> &ndash; {{ concert.director_firstname }} {{ concert.director_lastname}}
    </p>

    <h3>{{ concert.place }}</h3>
    <h5 ng-bind-html="concert.address | nl2br"></h5>

    <p ng-bind-html="concert.comment | nl2br"></p>

    <h5 ng-if="concert.booking">
        <span ng-if="concert.phone != ''">
            Réservations au {{ concert.phone }}
        </span><br />
        <span ng-if="concert.fnac != ''">
            <a href="{{ concert.fnac }}" title="Aller sur le site de la FNAC" target="_blank">Réservations sur fnacspectacles.com (paiement en ligne)</a>
        </span><br />
        <span ng-if="concert.eventbrite != ''">
            <a href="{{ concert.eventbrite }}" title="Aller sur le site Eventbrite" target="_blank">Réservations sur Eventbrite (paiement en ligne)</a>
        </span><br />
        <span>
            <a ui-sref="index.reservations.make({concert_id: concert.id})">Réservations sur ce site (paiement sur place, le jour du concert)</a>
        </span>
    </h5>

    <div ng-if="concert.poster != null">
        <img ng-src="{{ concert.poster }}" class="img-responsive" alt="" style="max-width: 50%; margin: auto;" />
    </div>
</div>
