<div class="center">
    <h2>Nos partenaires</h2>
</div>

<div class="row">
    <div class="col-md-6 col-sm-12">
        <h3 class="text-center">Corps de l'École polytechnique</h3>
        <img src="assets/images/logo-polytechnique.jpg" class="img-responsive" />
    </div>
    <div class="col-md-6 col-sm-12">
        <img src="assets/images/logo-xforum.png" class="img-responsive" />
    </div>
    <div class="col-md-6 col-sm-12">
        <img src="assets/images/logo-xpassion.png" class="img-responsive" />
    </div>
    <div class="col-md-6 col-sm-12">
        <img src="assets/images/logo-kes.jpg" class="img-responsive" />
    </div>
</div>
