<div class="center">
    <h2>Présentation de la chorale</h2>
</div>

<div class="row">
    <div class="col-md-6 col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Historique</h2>
            </div>
            <div class="panel-body">
                <p>L'Ensemble Vocal de l'École polytechnique regroupe 90 chanteurs amateurs : élèves polytechniciens, internationaux, anciens élèves, personnels de l'école ou des laboratoires... Dirigé par le chef de choeur Patrice Holiner, il se produit régulièrement dans des lieux prestigieux, interprétant principalement des œuvres classiques du chant choral.</p>
                <p>Ainsi, il a dernièrement eu l'occasion de donner en concert le Requiem de Cherubini, la Messe du Couronnement de Mozart, ainsi que le Messie de Handel.</p>
                <p>La chorale participe également régulièrement à des actions solidaires, en donnant des concerts au profit d'associations telles que LyricAutsim (cathédrale d'Evry en février 2010), l'Ordre de Malte (Grand Amphithéâtre de la Sorbonne en mars 2011) et l'Association Petits Princes (église Saint-Eustache en décembre 2012), la fondation d'Auteuil...</p>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Le mot du directeur général</h2>
            </div>
            <div class="panel-body">
                <p>
                    L’École polytechnique a toujours eu la volonté d'allier l'excellence scientifique à la tradition et à l'humanisme. Son projet pédagogique est de former des hommes et des femmes équilibrées, à la personnalité affirmée.<br />
                    L'Ensemble vocal s'inscrit pleinement dans ce projet. La musique permet en effet aux élèves de développer leur sensibilité artistique tout en faisant appel aux qualités de rigueur et d'effort qu'ils mettent en œuvre quotidiennement dans leurs études scientifiques. Le chant leur donne également l'occasion de s'investir dans un projet commun et de montrer ce qu'ils peuvent réussir ensemble.<br />
                    L'Ensemble vocal constitue ainsi une preuve vivante de la richesse et de la diversité des talents de l’École. C'est avec beaucoup de plaisir, et une certaine fierté, que je vous invite à partager l'enthousiasme des choristes et leur passion pour le chant.
                </p>
                <p class="pull-right">
                    <em>Ingénieur Général Hors Classe de l'Armement Yves Demay</em><br />
                    <em>Directeur Général de l'École Polytechnique</em>
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Bureau des élèves</h4>
            </div>
            <div class="panel-body">
                Le bureau est composé d'élèves de la promotion 2015 :
                <ul>
                    <li>Président : Julien Chhor</li>
                    <li>Trésorier : Guillaume Gette</li>
                    <li>Chargé de la communication : Anne Wuillemin</li>
                    <li>Chargé de la logistique : Yiwei Zhang</li>
                </ul>
                Chef de choeur : Patrice Holiner<br />
                Courriel : <a title="Contacter le bureau" href="mailto:bureau@chorale.polytechnique.org">bureau@chorale.polytechnique.org</a>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-sm-12">
        <img src="assets/photos/photo_009.jpg" title="L'ensemble vocal donnant un concert en l'Église Saint-Eustache (Paris Ier)" class="img-responsive" />
    </div>
</div>
